@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

/* Getting rid of most default styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}